<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PostCardTailor.Properties.Settings.INKConnectionString" connectionString="Data Source=139.129.28.35,1433\gt_yinte_ems;Initial Catalog=INK;User ID=sa;Password=hackerorange" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
